.App {
  text-align: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.App-header {
  margin-top: 0;
  padding: 1rem;
  color: white;
  background-color: rgba(31, 58, 147, 1);
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h4,
h5,
h6,
p {
  color: white;
}

input {
  padding: 0.6rem;
  width: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
}

.add-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-review input {
  border: 1px solid black;
  text-align: center;
}

#btn {
  cursor: pointer;
  width: 8rem;
  padding: 1rem 0rem;
  font-size: 1rem;
  background-color: rgb(7, 172, 62);
  color: white;
  border: none;
  border-radius: 1rem;
}
#btn:hover {
  background-color: rgb(29, 124, 61);
}

#btn-red {
  cursor: pointer;
  width: 8rem;
  padding: 1rem 0rem;
  font-size: 1rem;
  background-color: rgb(237, 100, 100);
  color: white;
  border: none;
  border-radius: 1rem;
}
#btn-red:hover {
  background-color: rgb(206, 73, 73);
}

#signout-btn {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.delete-button {
  cursor: pointer;
  width: 8rem;
  padding: 1rem 0rem;
  font-size: 1rem;
  background-color: rgb(237, 100, 100);
  color: white;
  border: none;
  border-radius: 1em;
}

.delete-button:hover {
  background-color: rgb(206, 73, 73);
}

.review {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1em;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 1em;
  background-color: rgba(31, 58, 147, 1);
  color: white;
}

.review h5 {
  font-style: italic;
}
.review p {
  font-style: normal;
}

.reviews {
  box-sizing: border-box;
  width: auto;
  display: flex;
   display: flex;
   align-items: center;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
   /* align-content: flex-end; */
  padding: 20px;
}

.login-form {
  display: grid;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-field {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search input {
  margin: 20px;
  border: 1px solid black;
  display: block;
  justify-content: center;
  text-align: center;
}